<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VladIslav Notes</title>
</head>
<body>
<h2>Notes</h2>
<form method="post" action="/add_message">
    <input type="text" name="text">
    <input type="text" name="important">
    <button type="submit">Add post</button>
</form>

<h3>Notes Importance</h3>
{% for message in messages %}
<div>{{ message.text }}
    {% for tag in message.tags %}
        <b>#{{ tag.text }}</b>
    {% endfor %}
</div>
{% endfor %}

</body>
</html>